---
layout: page
title:  "Food Blog"
bigimg: 
  - "/image/foodblog/biryani1.jpg" : "Red Chicken Briyani"
  - "/image/foodblog/chicken2.jpg" : "Chicken Roast and Curry"
  - "/image/foodblog/dinner1.jpg" : "Food Feast"
  - "/image/foodblog/khasi1.jpg" : "Goat Curry"
  - "/image/foodblog/khasta1.jpg" : "Khasta"
  - "/image/foodblog/lalmohan1.jpg" : "Gulab Jamun"
  - "/image/foodblog/momo1.jpg" : "Mo:Mo: Dumplings"
  - "/image/foodblog/momo2.jpg" : "Mo:Mo: Dumplings"
  - "/image/foodblog/momo3.jpg" : "Mo:Mo: Dumplings"
  - "/image/foodblog/pizza1.jpg" : "Homemade Pizzzza"
  - "/image/foodblog/salad1.jpg" : "Salad"
  - "/image/foodblog/samosa1.jpg" : "SAMOSAA"
---

{% if page.image_view %}
	{% for category in site.categories %}
		<h2>{{ category[0] }}</h2>
		<div class="food">
			{% for recipe in category[1] %}
				<div class="recipe" style="background-image: url('{{ food.featured_image }}')">
					<a href="{{ recipe.url }}"><span>{{ food.title }}</span></a>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
{% endif %}
