---
layout: base
---
.commentary {
  font-family:Roboto-Regular;
  font-size:20px;
  color:#801c1c;
float:left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}


{% include header.html type="page" %}

<marquee scrollamount="10" behavior="scroll" direction="left" style="background-color:#b7fe3b">

  <div style="padding-top:10px;">
    <div style="white-space:nowrap; width:300%" *ngFor = "let text of data">
      <span class="commentary">DISCLAIMER:The postings on this site are my own and do not necessarily represent the postings, strategies or opinions of AgReliant Genetics LLC.</span>
    </div>
  </div>
</marquee>


<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ content }}
	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	    {% endif %}
    </div>
  </div>
</div>



