---
layout: base
---
.commentary {
  font-family:Roboto-Regular;
  font-size:20px;
  color:#101010;
float:left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}

marquee img {
    margin-left:3%;
    margin-right:3%;
    float:left;
    white-space:nowrap;
}




{% include header.html type="page" %}

<marquee scrollamount="10" behavior="scroll" direction="left" style="background-color:#FEC33B">

  <div style="padding-top:10px;">
    <div style="white-space:nowrap; width:300%" *ngFor = "let text of data">
      <span class="commentary">DISCLAIMER: Contents on this website are solely my own and do not express the views or opinions of my employer, AgReliant Genetics LLC</span>
    </div>
  </div>
</marquee>


<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ content }}
	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	    {% endif %}
    </div>
  </div>
</div>



